<p>Murder my Burger</p>
<img src="https://i.dlpng.com/static/png/87505_thumb.png" alt="burger">


<div class="container-fluid">

    <div class="row">

        <div class="col-md-4">

            <ul>
                {{#each burger}}
                {{#unless devoured}}
                <div class="row">
                     <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
                        {{#if devoured}}EAT ME!{{else}}YUM!{{/if}}
                    </button>
                    <span>{{this.burger_name}}</span>
                   

                </div>


                {{/unless}}
                {{/each}}
            </ul>


            {{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
    
</li> --}}



        </div>


        <div class="col-md-4">

            <form>

                <div class="form-group">
                    <label for="newBurger">Add New Burger</label>
                    <input type="text" class="form-control" id="burgerName" placeholder="add da burger">
                </div>

                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
            </form>


        </div>


        <div class="col-md-4">

            <ul>
                {{#each burger}}
                {{#if devoured}}
                <button class="remove-burger" data-id="{{this.id}}">DELETE ME!</button>
                <span>{{this.burger_name}}</span>
                {{/if}}
{{!-- {else}}Be Gentle! --}}
                {{/each}}
            </ul>


        </div>



    </div>



</div>