<h1 class="text-center">Murder my Burger</h1>
<div class="text-center">
<img src="https://i.dlpng.com/static/png/87505_thumb.png" alt="burger" class="text-center">
</div>


<div class="container-fluid">

    <div class="row">

        <div class="col-md-4">

            <ul>
                {{#each burger}}
                {{#unless devoured}}
                <div class="row">
                     <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">EAT ME!</button>
                    <span>{{this.burger_name}}</span>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>


        <div class="col-md-4">

            <form>

                <div class="form-group">
                    <label for="newBurger">Add New Burger</label>
                    <input type="text" class="form-control" id="burgerName" placeholder="May I take your order?">
                </div>

                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
            </form>


        </div>


        <div class="col-md-4">

            <ul>
                {{#each burger}}
                {{#if devoured}}
                <div class="row">
                <button class="remove-burger" data-id="{{this.id}}">DELETE ME!</button>
                <span>{{this.burger_name}}</span>

                </div>
                
                {{/if}}
{{!-- {else}}Be Gentle! --}}
                {{/each}}
            </ul>


        </div>



    </div>



</div>